#img-bg{
  background-image: url('https://imgur.com/qEdh6eV.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.alinhamento{
  margin: auto 0
}

.bground {
  
  
  background-image: linear-gradient(to bottom, #000000, #404040, #000000);
  }

  .text {
    color: #E0A800
  }