#bg-img{
  background-image: url('https://images.daznservices.com/di/library/GOAL/d5/88/messi_dtsts5810wux1nmb9exd9948p.jpg?t=696842196&quality=100');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}