#bg-img{
  background-image: url('https://imgur.com/COExSEJ.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
}

.bground {
  
  
  background-image: linear-gradient(to bottom, #000000, #404040, #000000);
  }

  .text {
    color: #E0A800
  }